# Git
.git
.gitignore

# Node.js
node_modules
npm-debug.log

# Build
dist
build

# Environment
.env
.env.*

# IDE
.idea
.vscode
*.swp
*.swo

# Tests
coverage
.nyc_output
test

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db
